@model CustomerViewModel

@{
    ViewData["Title"] = "Rented items";
}

<h1>@ViewData["Title"]</h1>
<br/>

@if (!Model.RentedItems.Any())
{
    <p>Looks like you haven't rented any equipment. Go to our <a asp-controller="Equipment" asp-action="Index">list of equipment</a> to find some equipment to rent for yourself.</p>
}
else
{
    <table class="table table-bordered table-striped" style="width: 100%;">
        <thead>
            <tr>
                <th>Equipment</th>
                <th>Days</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.RentedItems)
            {
                <tr>
                    <td>@item.RentedItem.Equipment.Name</td>
                    <td>@item.RentedItem.Days</td>
                    <td>@item.Price €</td>
                </tr>
            }
            <tr class="fw-bold">
                <td>Total</td>
                <td>@Model.RentedItems.Sum(x => x.RentedItem.Days)</td>
                <td>@Model.RentedItems.Sum(x => x.Price) €</td>
            </tr>
        </tbody>
    </table>
}
