@model List<EquipmentViewModel>

@{
    ViewData["Title"] = "Equipment";
}

<h1>@ViewData["Title"]</h1>
<br>
<p>List of equipment to rent:</p>

<table class="table table-bordered table-striped" style="width: 100%;">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var equipment in Model)
        {
            <tr>
                <td>@equipment.Name</td>
                <td>@equipment.Type</td>
                <td style="width: 1%; white-space:nowrap;">
                    <a asp-controller="Equipment" asp-action="Rent" asp-route-id="@equipment.Id" class="btn btn-primary">
                        <i class="bi bi-cart-plus"></i> &nbsp; Rent
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
