@model RentEquipmentViewModel

@{
    ViewData["Title"] = $"Rent {Model.Equipment.Name}";
}

<form method="post" asp-controller="Equipment" asp-action="Rent">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">@ViewData["Title"]</h2>
            <hr />
        </div>
        <div class="mb-3">
            <input asp-for="Equipment.Id" class="form-control" style="width: 350px;" hidden/>
        </div>
        <div class="mb-3">
            <label>Equipment</label>
            <input asp-for="Equipment.Name" class="form-control" style="width: 350px;" readonly/>
        </div>
        <div class="mb-3">
            <label>Type</label>
            <input asp-for="Equipment.Type" class="form-control" style="width: 350px;" readonly/>
        </div>
        <div class="mb-3">
            <label>Days</label>
            <input asp-for="Days" class="form-control" style="width: 90px;" autofocus/>
            <span asp-validation-for="Days" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Rent</button>
        <a asp-controller="Equipment" asp-action="Index" class="btn btn-secondary">Back</a>
    </div>
</form>
